<div class='well'>
  <div class='row'>
    <div class='col-md-12 new_car'>
      <%= form_for [current_user, @car], remote: true do |f| %>
        <div class="initialize">
        <p><%= f.label :make %></p>
        <%= f.select :make, [], {}, {class: 'form-control'} %>
        <p><%= f.label :model %></p>
        <%= f.select :model, [], {}, {class: 'form-control'} %>
        <p><%= f.label :year %></p>
        <%= f.select :year, [], {}, {class: 'form-control'} %>
        <p><%= f.label :style %></p>
        <%= f.select :style, [], {}, {class: 'form-control'} %>
        <p><%= f.label :zip %></p>
        <%= f.text_field :zip, {class: 'form-control'} %>
        <p><%= f.label :mileage %></p>
        <%= f.text_field :mileage, {class: 'form-control'} %>
        <%= f.hidden_field :style_id  %>
        <%= f.hidden_field :model_year_id %>
          <br>
            <%= f.submit 'Add to Garage', class: 'btn btn-success add_car' %><a class='btn btn-success cancel_new_car'>Cancel</a>
        </div>
      <% end %>
    </div>
  </div>
  //car table
  <div class='row' id='garage'>
    <% @cars.each do |car| %>
      <%= render car %>
    <% end %>
  </div>

</div>
