<div id='welcome'>
  <div class='title'>
    <p>PARAMOTIV</p>
  </div>
  <div class='description'>
      <p>An application that lets you build a garage of your vehicles ,
      track their past service records and look up their next. Locate and
      contact your nearest dealer. Figure out what your current car is worth
      and find your next one.</p>
      <p>Still under initial development...a more complete version will be available 6/11/15</p>
  </div>
  <div class='user_login'>
    <a class='btn user'>Visit Test Garage</a>
    <!-- <a class='btn user' id='noob'>New User</a><a class='btn user' id='return'>Returning User</a> -->
  </div>

  <div class='well' id='auth'>
    <%= form_tag signin_path do |f| %>
      <div>
        <%= label_tag :username %>
      </div>
      <div>
        <%= text_field_tag :username %>
      </div>
      <div>
        <%= label_tag :password %>
      </div>
      <div>
        <%= password_field_tag :password %>
      </div>
      <div>
        <%= submit_tag 'Sign In', class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
  <div class='well' id='register'>
    <%= form_for @user, url: signup_path, html: {multipart: true} do |f| %>
      <div>
        <%= f.file_field :avatar %>
      </div>
      <div>
        <%= f.label :username %>
      </div>
      <div>
        <%= f.text_field :username %>
      </div>
      <div>
        <%= f.label :first_name %>
      </div>
      <div>
        <%= f.text_field :first_name %>
      </div>
      <div>
        <%= f.label :last_name %>
      </div>
      <div>
        <%= f.text_field :last_name %>
      </div>
      <div>
        <%= f.label :zip_code %>
      </div>
      <div>
        <%= f.text_field :zip_code %>
      </div>
      <div>
        <%= f.label :password %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
      </div>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
      <div>
        <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<div class='container'>
<div id='my_garage' data-user-id='<%= current_user.id %>'>
  <% if current_user %>
    <h2>Cars in your garage<div class='pull-right'><a class='btn btn-info new_cars'>Add Car to Garage</a></div></h2>
    <br>
    <br>


      <div class='col-xs-12 new_car'>
        <div class="well">
          <%= form_for [current_user, @car], remote: true do |f| %>
            <div class="initialize">
            <p><%= f.label :make %></p>
            <%= f.select :make, [], {}, {class: 'form-control'} %>
            <p><%= f.label :model %></p>
            <%= f.select :model, [], {}, {class: 'form-control'} %>
            <p><%= f.label :year %></p>
            <%= f.select :year, [], {}, {class: 'form-control'} %>
            <p><%= f.label :style %></p>
            <%= f.select :style, [], {}, {class: 'form-control'} %>
            <p><%= f.label :mileage %></p>
            <%= f.text_field :mileage, {class: 'form-control'} %>
            <%= f.hidden_field :style_id  %>
            <%= f.hidden_field :model_year_id %>
              <br>
                <%= f.submit 'Add to Garage', class: 'btn btn-success add_car' %><a class='btn btn-success cancel_new_car'>Cancel</a>
            </div>
          <% end %>
        </div>
      </div>


    <div class='row' id='garage'>
      <% @cars.each do |car| %>
        <%= render car %>
      <% end %>
    </div>



  <% else %>
    <h1>Please sign in to create garage</h1>
  <% end %>




</div>
</div>
