<h2>Cars in your garage<div class='pull-right'><%= link_to 'New Car', new_car_path, class: 'btn btn-info' %></div></h2>
<br>
<br>

<div class='well'>
  <table id='garage'>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><h4><%= car.year %> <%= car.make.capitalize %> <%= car.model.capitalize %> <%= car.style %></h4></td>
          <td class='pull-right'><%= link_to 'Remove from garage', car, class: 'btn btn-warning', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td class='btn btn-primary' value="<%= car.model_year_id %>">Maintenance</td>
          <td class='btn btn-success' value="<%= car.make %>" data="<%= car.zip %>">Nearest Dealer</td>
          <td class='btn btn-danger' value="<%= car.style_id %>" data="<%= car.zip %>">Trade In</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id='trade'>
  <div class='well trade_form'>
    <select class='form-control condition'>
      <option disabled selected>Select Condition</option>
      <option>Outstanding</option>
      <option>Clean</option>
      <option>Average</option>
      <option>Rough</option>
      <option>Damaged</option>
    </select>
    <input type='text' class='form-control mileage' value='Mileage'>
    <div class='btn btn-default'>Calculate True Market Value</div>
  </div>
</div>

<div id='dealer'></div>
<div id='maintenance'></div>
