<div id='welcome'>
  <div class='title'>
    <p><%= image_tag('paramotiv_mint.png', height: 180) %></p>
  </div>
  <div class='description'>
      <p>A tool that utilizes the EDMUNDS.com API to let you build a garage of your vehicles.
      Browse upcoming service intervals, or find if there are any current recalls of your car. Locate and
      contact your nearest dealership, and figure out what your current car is worth when it's time for
      your next one.</p>
  </div>
</div>

<div id='my_garage' data-user-id='1'>

  <div class='container'>

    <div class='row info'>
      <div class='col-xs-12 col-md-6 ciyg'>
        <h2>Welcome to your Garage</h2>
        <h4>After adding a new vehicle to your garage, browse upcoming service data and find current recalls.
        The nearest dealer for your selected make can be found and contacted at the touch of a button. If you're looking to move into a new vehicle,
        the Trade In feature allows you to find the retail, private party, and trade in values.</h4>
        <h2><a class='btn btn-info new_cars'>Add Car to Garage</a></h2>
      </div>
      <div class='col-xs-12 col-md-6 new_car'>
          <%= form_for (@car), remote: true do |f| %>
            <div class='row initialize'>
              <div class='col-xs-6'>
                <br>
                <%= f.select :make, ['Select vehicle make...'], {}, {class: 'form-control'} %>
              </div>
              <div class='col-xs-6'>
                <br>
                <%= f.select :model, ['Select vehicle model...'], {}, {class: 'form-control'} %>
              </div>
              <div class='col-xs-6'>
                <br>
                <%= f.select :year, ['Select vehicle year...'], {}, {class: 'form-control'} %>
              </div>
              <div class='col-xs-6'>
                <br>
                <%= f.select :style, ['Select vehicle style...'], {}, {class: 'form-control'} %>
              </div>
              <div class='col-xs-6'>
                <br>
                <%= f.text_field :mileage, {class: 'form-control', autofocus: true, placeholder: 'Enter vehicle mileage...'} %>
                <%= f.hidden_field :style_id  %>
                <%= f.hidden_field :model_year_id %>
              </div>
              <div class='col-xs-12'>
                <br>
                <br>
                <%= f.submit 'Add to Garage', class: 'btn btn-success add_car' %><a class='btn btn-success cancel_new_car'>Cancel</a>
              </div>
            </div>
          <% end %>
      </div>
    </div>
      <br>
      <br>



      <div class='row' id='garage'>
        <% @cars.each do |car| %>
          <%= render car %>
        <% end %>
      </div>

  </div>
</div>
