<!DOCTYPE html>
<html>
<head>
  <title>ParamotivV2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav id='top-nav'>
  <div class='wrapper'>

    <%= image_tag('paramotiv_mint_white.png', height: 50, class: 'h') %>



  </div>
</nav>
<body>


      <%= yield %>

</body>
<footer>
  <div class='row'>
  <div class='cr'>© 2015 Caleb Atwood </div>
  <div class='github'><%= link_to('https://github.com/calebatwood', target: '_blank') do %><%= image_tag('octo.png', height: 32) %><% end %></div>
  <div class='linked'><%= link_to('https://linkedin.com/in/calebatwood', target: '_blank') do %><%= image_tag('linked.png', height: 40) %><% end %></div>
  </div>
</footer>
</html>
